html, body {
    height: 100%;
    background: #f3f3f3;
}

/* ================================DASHBOARD======================================== */

.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size {
    font-size: 87px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.client-logo {
    width: 115px;
    margin-top: -10px;
}

.btn-apply {
    color: #fff;
    background-color: #50e3c2;
    border-color: #50e3c2;
    margin-top: 8px;
    margin-bottom: 8px;
}

.btn-apply:hover {
    color: #fff;
    background-color: #49d4b5;
    border-color: #49d4b5;
    margin-top: 8px;
    margin-bottom: 8px;
}

.nav.navbar-nav.navbar-right {
    display: -ms-flexbox;
    display: flex;
}

.panel-heading {
    color: #052e56;
    background-color: none;
    border-color: #ddd;
    display: -ms-flexbox;
    display: flex;
}

.panel-heading>.pull-right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1;
    flex: 1 1;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
}

.loader {
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.loader, .loader-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.page-heading {
    margin-bottom: 20px;
}

.dashboard-filter-padding-top {
    padding-top: 15px;
}

.sk-spinner {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}

.user-name {
    margin-right: 5px;
}

.btn-alterar-senha {
    display: block;
    width: 45%;
}