<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <base href="[::CONFIG-URL-BASE::]">

    <link rel="icon" type="image/png" href="assets/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="assets/img/favicon-32x32.png" sizes="32x32">

    <!-- jquery -->
    <script src="assets/dependecies/jquery/jquery.min.js"></script>
    <!-- bootstrap -->
    <link href="assets/dependecies/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="assets/dependecies/bootstrap/bootstrap.min.js"></script>
    <!-- angular -->
    <script src="assets/dependecies/angular/angular.min.js"></script>
    <script src="assets/dependecies/angular-ui-router/angular-ui-router.min.js"></script>

    <link rel="stylesheet" href="assets/dependecies/datepicker/bootstrap-datepicker.standalone.css" />
    <script src="assets/dependecies/datepicker/bootstrap-datepicker.min.js"></script>
    <script src="assets/dependecies/datepicker/bootstrap-datepicker.en-CA.js"></script>

    <link rel="stylesheet" href="assets/dependecies/spinkit/spinkit.css" />

    <link rel="stylesheet" href="assets/dependecies/toastr/toastr.min.css" />
    <script src="assets/dependecies/toastr/toastr.min.js"></script>

    <script src="assets/dependecies/highcharts/highcharts.js"></script>

    <script src="app/app.js"></script>
    <script src="app/states.js"></script>
    <script src="app/factory.js"></script>
    <script src="app/directive.js"></script>
    <!-- controllers -->
    <script src="app/controller/dashboard.js"></script>
    <!-- custom -->
    <link href="assets/css/custom.css" rel="stylesheet" type="text/css">
    <title>Boozt - Dashboard</title>
</head>

<body ng-app="app">
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <div id="root">
        <div class="loader" ng-if="loading > 0">
            <div class="sk-cube-grid">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
        </div>
        <div class="navbar navbar-default no-margin" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">
                        <img class="client-logo" src="assets/img/logo.png" alt="Meu Médico">
                    </a>
                </div>
            </div>
        </div>
        <div ui-view class="container"></div>
    </div>
</body>

</html>