<div class="col-xs-12 panel-heading page-heading no-padding-xs" ng-init="load()">
    <h2 class="elementScroll pull-left">Dashboard</h2>
    <div class="col-sm-12 col-md-10 col-xs-12 no-padding dashboard-filter-padding-top pull-right">
        <div class="col-sm-4 col-xs-4">
            <input class="form-control col-md-12" placeholder="Start Date" ng-model="filter.start" datepicker />
        </div>
        <div class="col-sm-4 col-xs-4">
            <input class="form-control col-md-12" placeholder="End Date" ng-model="filter.end" datepicker />
        </div>
        <div class="col-sm-1 col-xs-1 no-padding">
            <button class="btn btn-apply" ng-click="load()">Apply</button>
        </div>
    </div>
</div>
<div class="col-md-4 col-xs-12">
    <div class="panel">
        <div class="panel-body">
            <strong>Number of orders:</strong> {{stats.order.amount}}</div>
    </div>
</div>
<div class="col-md-4 col-xs-12">
    <div class="panel">
        <div class="panel-body">
            <strong>Revenue:</strong> {{stats.revenue | currency}}</div>
    </div>
</div>
<div class="col-md-4 col-xs-12">
    <div class="panel">
        <div class="panel-body">
            <strong>Number of customers: </strong> {{stats.customer.amount}}</div>
    </div>
</div>
<div class="col-xs-12">
    <div class="panel">
        <div class="panel-body">
            <div id="chart-container"></div>
        </div>
    </div>
</div>